<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'books/userinfo',user: current_user,book: Book.new %>


<div>
<h1>Books</h1>
<% @books.each do |book|%>
<div>
  <p>Title:<%= link_to book.title,book_path(book.id)%></p>
  <p>Opinion:<%= book.body %></p>
</div>
<% end %>
</div>