<!DOCTYPE html>
<html>
  <script src="https://kit.fontawesome.com/60cfe43f3f.js" crossorigin="anonymous"></script>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
       <a class="navbar-brand" href="/">
         <span>Bookers</span>
       </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
         <% if user_signed_in? %>
    　     <li>
            <%= link_to user_path(current_user.id), class:"text-light" do %>
            <i class="fas fa-home fa-fw"></i>Home
            <% end %>
          </li>
          <li>
            <%= link_to users_path, class:"text-light" do %>
            <i class="fas fa-users fa-fw"></i>Users
            <% end %>
          </li>
          <li>
            <%= link_to books_path, class:"text-light" do %>
            <i class="fas fa-book-open fa-fw"></i>Books
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, class:"text-light", method: :delete do%>
            <i class="fas fa-sign-out-alt fa-fw"></i>Log out
            <% end %>
          </li>
         <% else %>
          <li>
            <%= link_to root_path, class:"text-light" do %>
            <i style="color:white" class="fas fa-home fa-fw"></i>Home
            <% end %>
          </li>
          <li>
            <%= link_to about_path, class:"text-light" do %>
            <i class="fas fa-link fa-fw"></i>About
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class:"text-light" do %>
            <i class="fas fa-user-plus fa-fw"></i>Sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class:"text-light" do %>
            <i class="fas fa-sign-in-alt fa-fw"></i>Log in
            <% end %>
          </li>
         <% end %>
        </ul>
      </div>
    </div>
   </nav>
  </header>

  <main>
    <div>
     <%= flash[:notice] %>
    </div>
    <%= yield %>
  </main>



  <footer>
    <p>CopyRight Infratop.inc</p>
  </footer>
  </body>
</html>
